body {
    background-color: #D8DBE2;
}
.link{
    text-align: center;
    margin:100px;
    padding: 10px;
    border: solid black 4px;
    border-radius: 10px;
    background-color: aquamarine;
}
#site_logo{
    width: 100%;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color:#0D0630;
    font-family: 'Times New Roman', Times, serif;

}
nav {
    display: flex;
    justify-content: space-around;
    font-size: 50px;
}
nav a {
    text-align: center;
    color: #058ED9;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color:#3E5622;
    color: #709255;
    /*  Colors */
    /*
    Dark Blue: 0D0630
    Light Blue: 058ED9
    Dark Green: 3E5622
    Light Green: 709255 
    Silver: D8DBE2
    */
}
@media screen and (max-width: 775px) {
    nav {
        flex-direction: column;
        font-size: 2em;
    }
    nav a {
        display: block;
        padding: 15px;
    }
}
