.link{
    text-align: center;
    margin:100px;
    padding: 10px;
    border: solid black 4px;
    border-radius: 10px;
    background-color: aquamarine;
}
#site_logo{
    width: 100%;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color:#0D0630;
    font-family: 'Times New Roman', Times, serif;

}
nav {
    display: flex;
    justify-content: space-around;
    font-size: 50px;
}
nav a {
    text-align: center;
    color: #709255;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color:#058ED9;
    color: #3E5622;
}
body{
    background-color: aliceblue;
    margin: 1 auto;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    
}
h1{
    text-align: center;
}
.question{
    text-align: center;
    margin: 50px 0px
}
#result {
    margin: 50px 0px
}
#Non_zone{
    align-items: center;
    grid-column: 3/5;
}
.dice{
    width: 60%;
    /* border: solid black .1em; */
    margin: 10px;
}
.stat{
    text-align: center;
}
.stat_quantity{
    width: 30%;
}
#modifiers{
    margin: 20px;
    text-align: center;
}
.text-display {
    font-size: x-large;
}
.zone{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    background-color:lightyellow;
    border: solid black .4em;
    border-radius: 20px;
}

.shake{
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  @media screen and (max-width: 775px) {
    .stat{
        font-size: 15px;
    }
    #stat_zone{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    }
    #Str_zone{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #Dex_zone{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #Con_zone{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    #Int_zone{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #Wis_zone{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #Cha_zone{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    #Non_zone {
        grid-column: 2/3;
        grid-row: 3/4;
    }
  }